@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html>*{
font-family: 'Ubuntu', sans-serif;;
}

body{
    background-color: #7a9284;
}

.carousel{
    margin: auto;
}

.card{
    margin-left: 1%;
    display:inline-block;
}

.navbar {
    background-color: #628062;
}

.alert {
    background-color: #ffffff;
width: 40%;
margin-left: 59%;
}


.nav-item{
    color: white;
}


.footer>*{
    color: black
    ;
}

.carousel{
    width: 80%;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 161, 97) ;
}


.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #486b56;
  color: #fff;
}

.copyright {
  background-color: #1d502e;
}